<!DOCTYPE html>
<html>
<body>
    <header>
        <h1>Welcome to Student Attendance Manager!</h1>
        <h4>SAM is the perfect tool to automatically track and manange students.</h4>
    </header>
    <p>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Login", "Login")</li>
                    </ul>
                </div>
            </div>
        </div>

        <img src="~/Images/SilverWall.jpg" alt="img3" width="1200" height="500">

    <p> South African Education Statistics <a href="http://www.education.gov.za/Portals/0/Documents/Publications/Education%20Statistic%202013.pdf?ver=2015-03-30-144732-767"> Click Here </a></p>
    <p> Local News? <a href="http://www.news24.com/SouthAfrica"> Click Here </a></p>
    <p> Need Help? +27 79 042 4764</p>

    <h1>About us?</h1>
    <p>
        Over the years we have noticed that institutions encounter issues to manually manage attendance list.
        This increases the paperwork and maintaining the records becomes tedious.
        The advancement of technology allows us to solve these issues by using a centralized database system.
        Student Attendance Manager is a product of Thierry Mbuku
    </p>
</body>
</html>