
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to the admin console</title>
</head>
<body>
    <div>
        instruction how to sign

        1) Scan tag
        2) press Submit
    </div>
    <p>
        <a href="/Admin/Admin/Signin">Lets begin</a>
    </p>
</body>
</html>
